@font-face {
    font-family: 'bookman';
    src: url('../fuentes_pulsera/Gotham-Book.eot');
    src: url('../fuentes_pulsera/Gotham-Book.eot?#iefix') format('embedded-opentype'),
    url('../fuentes_pulsera/Gotham-Book.woff') format('woff'),
    url('../fuentes_pulsera/Gotham-Book.ttf') format('truetype'),
    url('../fuentes_pulsera/Gotham-Book.svg#gotham_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'malbeckregular';
    src: url('../fuentes_pulsera/malbeck-regular-webfont.eot');
    src: url('../fuentes_pulsera/malbeck-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fuentes_pulsera/malbeck-regular-webfont.woff2') format('woff2'),
    url('../fuentes_pulsera/malbeck-regular-webfont.woff') format('woff'),
    url('../fuentes_pulsera/malbeck-regular-webfont.ttf') format('truetype'),
    url('../fuentes_pulsera/malbeck-regular-webfont.svg#malbeckregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'steelfishregular';
    src: url('../fuentes_pulsera/steelfish_rg-webfont.eot');
    src: url('../fuentes_pulsera/steelfish_rg-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fuentes_pulsera/steelfish_rg-webfont.woff2') format('woff2'),
    url('../fuentes_pulsera/steelfish_rg-webfont.woff') format('woff'),
    url('../fuentes_pulsera/steelfish_rg-webfont.ttf') format('truetype'),
    url('../fuentes_pulsera/steelfish_rg-webfont.svg#steelfishregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'denseregular';
    src: url('../fuentes_pulsera/dense-regular-webfont.eot');
    src: url('../fuentes_pulsera/dense-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fuentes_pulsera/dense-regular-webfont.woff2') format('woff2'),
    url('../fuentes_pulsera/dense-regular-webfont.woff') format('woff'),
    url('../fuentes_pulsera/dense-regular-webfont.ttf') format('truetype'),
    url('../fuentes_pulsera/dense-regular-webfont.svg#denseregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'applechancerychancery';
    src: url('../fuentes_pulsera/apple_chancery-2-webfont.eot');
    src: url('../fuentes_pulsera/apple_chancery-2-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fuentes_pulsera/apple_chancery-2-webfont.woff2') format('woff2'),
    url('../fuentes_pulsera/apple_chancery-2-webfont.woff') format('woff'),
    url('../fuentes_pulsera/apple_chancery-2-webfont.ttf') format('truetype'),
    url('../fuentes_pulsera/apple_chancery-2-webfont.svg#apple_chancerychancery') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'timesregular';
    src: url('../fuentes_pulsera/times-webfont.eot');
    src: url('../fuentes_pulsera/times-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fuentes_pulsera/times-webfont.woff2') format('woff2'),
    url('../fuentes_pulsera/times-webfont.woff') format('woff'),
    url('../fuentes_pulsera/times-webfont.ttf') format('truetype'),
    url('../fuentes_pulsera/times-webfont.svg#timesregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'danielaregular';
    src: url('../fuentes_pulsera/daniela_regular-webfont.eot');
    src: url('../fuentes_pulsera/daniela_regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fuentes_pulsera/daniela_regular-webfont.woff2') format('woff2'),
    url('../fuentes_pulsera/daniela_regular-webfont.woff') format('woff'),
    url('../fuentes_pulsera/daniela_regular-webfont.ttf') format('truetype'),
    url('../fuentes_pulsera/daniela_regular-webfont.svg#danielaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'brushbtregular';
    src: url('../fuentes_pulsera/ufonts.com_brush455-bt-webfont.eot');
    src: url('../fuentes_pulsera/ufonts.com_brush455-bt-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fuentes_pulsera/ufonts.com_brush455-bt-webfont.woff2') format('woff2'),
    url('../fuentes_pulsera/ufonts.com_brush455-bt-webfont.woff') format('woff'),
    url('../fuentes_pulsera/ufonts.com_brush455-bt-webfont.ttf') format('truetype'),
    url('../fuentes_pulsera/ufonts.com_brush455-bt-webfont.svg#brush455_btregular') format('svg');
    font-weight: normal;
    font-style: normal;

}