@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
body {
  margin: 0; }

.datos_medico {
  resize: none; }

.modalupdate {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50%;
  border: 3px solid #AA9F6B;
  background-color: #ffffff;
  padding: 5%;
  z-index: 99999;
  display: none; }
  @media only screen and (min-width: 320px) and (max-width: 640px) {
    .modalupdate {
      width: 80%; } }
  .modalupdate label {
    color: #58585A;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 15px; }
  .modalupdate .btncancelardistribuidor {
    width: 30%;
    text-align: center;
    margin: 20px auto;
    border: 1px solid #AA9F6B;
    padding: 10px;
    display: inline;
    margin-right: 20px;
    background-color: transparent;
    color: #AA9F6B;
    font-size: 14px;
    text-transform: uppercase; }
  .modalupdate .btnupdatedistribuidor {
    width: 30%;
    text-align: center;
    margin: 20px auto;
    border: 1px solid #58585A;
    padding: 10px;
    display: inline;
    margin-right: 20px;
    background-color: transparent;
    color: #58585A;
    font-size: 14px;
    text-transform: uppercase; }

.transposh_flags {
  position: fixed;
  z-index: 99999;
  left: 2%;
  top: 1%; }
  @media only screen and (min-width: 776px) and (max-width: 1024px) {
    .transposh_flags {
      left: 45%; } }
  @media only screen and (min-width: 641px) and (max-width: 775px) {
    .transposh_flags {
      left: 50%; } }
  @media only screen and (min-width: 320px) and (max-width: 640px) {
    .transposh_flags {
      left: 10%;
      top: 2%;
      position: absolute; } }

.trf-us {
  background-image: url("img/1447289512_usa.png") !important;
  height: 20px !important;
  width: 30px !important;
  background-repeat: no-repeat !important;
  background-size: cover !important; }

.trf-es {
  background-image: url("img/1447289749_Spain.png") !important;
  height: 16px !important;
  width: 30px !important;
  background-repeat: no-repeat !important;
  background-position: 0 !important;
  background-size: cover !important; }

#tr_credit {
  display: none; }

.canvas-container {
  position: absolute !important;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px #616161;
  border: 2px dashed #fff; }

body input[type=checkbox] {
  position: fixed;
  top: 25%;
  right: 20px;
  z-index: 9999; }

.center {
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.menu_mobil {
  display: none; }
  .menu_mobil a {
    vertical-align: super; }
  @media only screen and (min-width: 320px) and (max-width: 639px) {
    .menu_mobil {
      display: block;
      width: 100%;
      background-color: #000;
      padding: 10px; } }

.icon_cart {
  position: fixed;
  top: 8px;
  right: 6%;
  z-index: 99999;
  color: #fff;
  cursor: pointer; }
  @media only screen and (min-width: 320px) and (max-width: 639px) {
    .icon_cart {
      position: absolute;
      right: 10%; } }
  .icon_cart .contador_pedidos {
    position: fixed;
    font-size: 11px;
    margin-left: 6px; }
    @media only screen and (min-width: 320px) and (max-width: 639px) {
      .icon_cart .contador_pedidos {
        position: absolute; } }

.btn_distribuidores {
  position: fixed;
  right: 10%;
  color: #fff;
  z-index: 9999;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #AA9F6B;
  margin-top: 7px;
  text-transform: uppercase;
  font-family: 'gotham_htfmedium';
  cursor: pointer;
  display: none;
  font-size: 14px; }
  @media only screen and (min-width: 320px) and (max-width: 640px) {
    .btn_distribuidores {
      right: 20% !important;
      top: 0px !important;
      position: absolute !important; } }
  @media only screen and (min-width: 641px) and (max-width: 965px) {
    .btn_distribuidores {
      right: 12% !important; } }

.bienvenido {
  position: fixed;
  right: 10%;
  color: #fff;
  z-index: 9999;
  margin-top: 7px;
  text-transform: uppercase;
  font-family: 'gotham_htfmedium';
  cursor: pointer;
  display: none; }
  @media only screen and (min-width: 320px) and (max-width: 640px) {
    .bienvenido {
      right: 30% !important;
      top: 0px !important;
      position: absolute !important; } }
  @media only screen and (min-width: 641px) and (max-width: 1024px) {
    .bienvenido {
      right: 15%; } }
  .bienvenido a {
    font-size: 11px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    display: inline-block;
    color: #fff; }
    .bienvenido a:hover {
      color: #AA9F6E; }
  .bienvenido p {
    font-size: 11px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    display: inline-block; }
  .bienvenido span {
    font-size: 11px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    display: inline-block;
    color: #AA9F6E;
    margin-left: 5px; }

.current_moneda {
  position: fixed;
  top: 10px;
  right: 2%;
  z-index: 99999;
  color: #fff;
  cursor: pointer; }
  @media only screen and (min-width: 320px) and (max-width: 640px) {
    .current_moneda {
      position: absolute !important;
      font-size: 10px; } }
  .current_moneda:hover {
    color: #AA9F6B; }

.list_pedidos {
  position: fixed;
  top: 5.5%;
  right: 4%;
  z-index: 9999999;
  background-color: #000000;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  display: none; }
  .list_pedidos ul {
    margin-left: 0px;
    padding: 5px; }
    .list_pedidos ul li {
      color: #ffffff;
      list-style: none;
      border-bottom: 1px solid #ffffff; }
      .list_pedidos ul li p {
        margin-bottom: 0px;
        font-family: 'GothamHTF-Light';
        font-size: 14px; }
  .list_pedidos .ver_carrito {
    border: 2px solid #ffffff;
    width: 30%;
    padding: 10px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px; }

.main-navigation {
  position: fixed;
  z-index: 9999;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  height: 50px;
  overflow: hidden;
  display: block; }
  @media only screen and (min-width: 320px) and (max-width: 639px) {
    .main-navigation {
      height: auto;
      overflow: auto;
      top: 0;
      bottom: 0;
      display: none; } }
  .main-navigation .close_menu {
    display: none; }
    @media only screen and (min-width: 320px) and (max-width: 639px) {
      .main-navigation .close_menu {
        float: right;
        padding: 20px;
        color: #ffffff;
        display: block;
        margin-top: 30px; } }
  .main-navigation .menu {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    width: 70%; }
    @media only screen and (min-width: 640px) and (max-width: 1024px) {
      .main-navigation .menu {
        width: 100%;
        left: 0;
        transform: translateX(0);
        -webkit-transform: 0;
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        text-align: left;
        margin-left: 20px; } }
    @media only screen and (min-width: 320px) and (max-width: 639px) {
      .main-navigation .menu {
        padding-left: 15%;
        padding-right: 15%;
        margin-left: -100%;
        transition: 500ms;
        left: 50% !important;
        top: 50% !important;
        transform: translate(-50%, -50%) !important; } }
    @media only screen and (min-width: 320px) and (max-width: 639px) {
      .main-navigation .menu.mostar {
        margin-left: 0 !important; } }
    .main-navigation .menu li {
      display: inline-block; }
      @media only screen and (min-width: 320px) and (max-width: 639px) {
        .main-navigation .menu li {
          display: block; } }
      @media only screen and (min-width: 320px) and (max-width: 639px) {
        .main-navigation .menu li {
          padding-top: 10px;
          padding-bottom: 10px; } }
      .main-navigation .menu li a {
        font-family: 'GothamHTF-Light';
        font-size: 14px;
        color: #ffffff;
        padding-left: 20px;
        padding-right: 20px;
        text-transform: uppercase; }
        @media only screen and (min-width: 929px) and (max-width: 1157px) {
          .main-navigation .menu li a {
            padding-left: 10px;
            padding-right: 10px; } }
        @media only screen and (min-width: 871px) and (max-width: 928px) {
          .main-navigation .menu li a {
            padding-left: 5px;
            padding-right: 5px; } }
        @media only screen and (min-width: 640px) and (max-width: 870px) {
          .main-navigation .menu li a {
            padding-left: 10px;
            padding-right: 10px;
            font-size: 14px; } }
        @media only screen and (min-width: 320px) and (max-width: 639px) {
          .main-navigation .menu li a {
            font-size: 18px; } }
      .main-navigation .menu li:hover {
        border: 1px solid #ffffff; }
      .main-navigation .menu li.current-menu-item {
        border: 1px solid #ffffff; }

div.home {
  padding: 0px; }
  div.home section {
    height: 100vh;
    position: relative; }
  div.home section:nth-of-type(1) {
    background: url(img/home.jpg);
    text-align: center;
    border-bottom: 9px solid #AA9F6B;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important; }
    @media only screen and (min-width: 320px) and (max-width: 640px) {
      div.home section:nth-of-type(1) {
        height: auto !important;
        overflow: hidden;
        position: relative; } }
    div.home section:nth-of-type(1) div.over {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5); }
      @media (max-width: 641px) {
        div.home section:nth-of-type(1) div.over {
          padding: 30px; } }
    div.home section:nth-of-type(1) img.logo {
      padding-bottom: 25px; }
    div.home section:nth-of-type(1) div.center {
      max-width: 600px; }
      @media only screen and (min-width: 320px) and (max-width: 640px) {
        div.home section:nth-of-type(1) div.center {
          width: 100%;
          position: relative;
          top: 0 !important;
          left: 0 !important;
          -webkit-transform: translate(0%, 0%) !important;
          -moz-transform: translate(0%, 0%) !important;
          -ms-transform: translate(0%, 0%) !important;
          transform: translate(0%, 0%) !important;
          padding-top: 60px; } }
    div.home section:nth-of-type(1) div.divisor {
      position: absolute;
      background-color: #AA9F6B;
      height: 3px;
      width: 40%;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%); }
    div.home section:nth-of-type(1) div.descripcion_eternita {
      font-family: 'gotham_bookregular';
      color: #ffffff;
      padding-top: 40px; }
      div.home section:nth-of-type(1) div.descripcion_eternita p {
        font-size: 17px; }
    div.home section:nth-of-type(1) a.arrow_down {
      position: absolute;
      bottom: 15%;
      left: 50%;
      transform: translatex(-50%);
      width: 3%;
      cursor: pointer; }
    div.home section:nth-of-type(1) .botones_home {
      position: absolute;
      bottom: 15%;
      left: 50%;
      transform: translatex(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      margin: 0 auto; }
      @media only screen and (min-width: 320px) and (max-width: 640px) {
        div.home section:nth-of-type(1) .botones_home {
          position: relative;
          width: 100%;
          left: 0;
          transform: translatex(0);
          -webkit-transform: translateX(0);
          -moz-transform: translateX(0);
          -ms-transform: translateX(0);
          margin-bottom: 40px; } }
      @media only screen and (min-width: 641px) and (max-width: 1024px) {
        div.home section:nth-of-type(1) .botones_home {
          width: 100%; } }
      div.home section:nth-of-type(1) .botones_home .comprar_btn {
        cursor: pointer;
        border: 2px solid #fff;
        padding: 10px;
        float: left;
        margin-left: 20px;
        margin-right: 20px; }
        @media only screen and (min-width: 320px) and (max-width: 1024px) {
          div.home section:nth-of-type(1) .botones_home .comprar_btn {
            margin: 0 auto;
            display: inline-block;
            float: none; } }
        div.home section:nth-of-type(1) .botones_home .comprar_btn a {
          color: #ffffff;
          text-transform: uppercase;
          font-family: 'Lato', sans-serif;
          font-weight: 700;
          font-size: 20px; }
  div.home section:nth-of-type(2) {
    background-image: url(img/fondoeternitta1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    position: relative;
    height: 50vh; }
    @media only screen and (min-width: 320px) and (max-width: 640px) {
      div.home section:nth-of-type(2) {
        height: auto; } }
    div.home section:nth-of-type(2) div.over {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5); }
      @media (max-width: 641px) {
        div.home section:nth-of-type(2) div.over {
          padding: 30px; } }
    div.home section:nth-of-type(2) div.row {
      max-width: 42.5rem; }
    div.home section:nth-of-type(2) div.content2 {
      position: absolute;
      z-index: 999;
      width: 100%; }
      @media only screen and (min-width: 320px) and (max-width: 640px) {
        div.home section:nth-of-type(2) div.content2 {
          position: relative; } }
    div.home section:nth-of-type(2) h3.titulo {
      color: #ffffff;
      text-align: center;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      letter-spacing: 10px;
      text-transform: uppercase;
      padding-top: 40px;
      margin-bottom: 15px; }
    div.home section:nth-of-type(2) div.divisor {
      position: absolute;
      background-color: #AA9F6B;
      height: 3px;
      width: 10%;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%); }
    div.home section:nth-of-type(2) ul {
      padding-top: 20px;
      padding-bottom: 30px;
      column-count: 2;
      -webkit-column-count: 2;
      -moz-column-count: 2;
      -o-column-count: 2;
      column-gap: 12em;
      -webkit-column-gap: 12em;
      -moz-column-gap: 12em;
      -o-column-gap: 12em;
      list-style-image: url("img/bullet.png");
      position: absolute;
      margin-left: 0px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%); }
      @media only screen and (min-width: 320px) and (max-width: 640px) {
        div.home section:nth-of-type(2) ul {
          position: relative;
          padding-left: 20px;
          padding-right: 20px;
          -webkit-column-count: 1;
          -moz-column-count: 1;
          -o-column-count: 1;
          column-gap: 12em;
          -webkit-column-gap: 12em;
          -moz-column-gap: 12em;
          -o-column-gap: 12em; } }
      div.home section:nth-of-type(2) ul li {
        color: #ffffff;
        font-family: 'gotham_bookregular';
        font-size: 21px;
        padding: 10px; }
        @media only screen and (min-width: 320px) and (max-width: 640px) {
          div.home section:nth-of-type(2) ul li {
            font-size: 18px;
            padding: 5px;
            text-align: center;
            list-style: none; } }
        div.home section:nth-of-type(2) ul li:before {
          content: '';
          width: 10px;
          height: 10px; }
  div.home section:nth-of-type(3) {
    height: auto;
    overflow: hidden;
    background-color: #ffffff;
    text-align: center;
    margin-bottom: 9%; }
    div.home section:nth-of-type(3) h3.titulo {
      color: #58585A;
      text-align: center;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      letter-spacing: 10px;
      text-transform: uppercase;
      padding-top: 40px;
      margin-bottom: 15px; }
    div.home section:nth-of-type(3) div.divisor {
      position: absolute;
      background-color: #AA9F6B;
      height: 3px;
      width: 10%;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%); }
    div.home section:nth-of-type(3) div.bloque1 {
      max-width: 42.5rem;
      margin-top: 60px; }
    div.home section:nth-of-type(3) div.contenido {
      margin-top: 40px;
      font-family: 'gotham_bookregular'; }
    div.home section:nth-of-type(3) .aviso_seleccion {
      height: auto;
      overflow: hidden;
      position: relative;
      padding-top: 10px;
      border: 2px dashed #AA9F6B;
      padding-bottom: 20px;
      width: 50%;
      margin: 0 auto; }
      @media only screen and (min-width: 320px) and (max-width: 640px) {
        div.home section:nth-of-type(3) .aviso_seleccion {
          width: 80%; } }
      div.home section:nth-of-type(3) .aviso_seleccion p {
        text-align: center;
        font-family: 'gotham_bookregular';
        color: #58585B; }
      div.home section:nth-of-type(3) .aviso_seleccion a {
        border: 2px solid #58585A;
        width: 30%;
        padding: 10px;
        margin: 0 auto;
        font-family: 'Lato', sans-serif;
        color: #58585A;
        text-transform: uppercase;
        font-size: 14px; }
    div.home section:nth-of-type(3) ul {
      margin-top: 50px;
      margin-bottom: 50px; }
      div.home section:nth-of-type(3) ul li {
        position: relative; }
        div.home section:nth-of-type(3) ul li .rest_cantidad {
          display: none; }
          @media only screen and (min-width: 320px) and (max-width: 640px) {
            div.home section:nth-of-type(3) ul li .rest_cantidad {
              display: block;
              position: absolute;
              font-size: 12px;
              right: 30%;
              top: 30px;
              padding-left: 5px;
              padding-right: 5px;
              padding-top: 2px;
              padding-bottom: 2px;
              background-color: #AA9F6B;
              border-radius: 50%;
              color: #fff;
              width: 20px;
              height: 20px;
              display: block;
              cursor: pointer; } }
          @media only screen and (min-width: 641px) and (max-width: 1024px) {
            div.home section:nth-of-type(3) ul li .rest_cantidad {
              right: 30%;
              top: 30px;
              display: block;
              position: absolute;
              font-size: 12px;
              padding-left: 5px;
              padding-right: 5px;
              padding-top: 2px;
              padding-bottom: 2px;
              background-color: #AA9F6B;
              border-radius: 50%;
              color: #fff;
              width: 20px;
              height: 20px;
              display: block;
              cursor: pointer; } }
        div.home section:nth-of-type(3) ul li .more_cantidad {
          display: none; }
          @media only screen and (min-width: 320px) and (max-width: 640px) {
            div.home section:nth-of-type(3) ul li .more_cantidad {
              display: block;
              position: absolute;
              font-size: 12px;
              right: 30%;
              top: 3px;
              padding-left: 5px;
              padding-right: 5px;
              padding-top: 2px;
              padding-bottom: 2px;
              background-color: #AA9F6B;
              border-radius: 50%;
              color: #fff;
              width: 20px;
              height: 20px;
              display: block;
              cursor: pointer; } }
          @media only screen and (min-width: 641px) and (max-width: 1024px) {
            div.home section:nth-of-type(3) ul li .more_cantidad {
              right: 30%;
              top: 3px;
              display: block;
              position: absolute;
              font-size: 12px;
              padding-left: 5px;
              padding-right: 5px;
              padding-top: 2px;
              padding-bottom: 2px;
              background-color: #AA9F6B;
              border-radius: 50%;
              color: #fff;
              width: 20px;
              height: 20px;
              display: block;
              cursor: pointer; } }
        div.home section:nth-of-type(3) ul li:hover .rest_cantidad {
          position: absolute;
          font-size: 12px;
          right: 17%;
          top: 30px;
          padding-left: 5px;
          padding-right: 5px;
          padding-top: 2px;
          padding-bottom: 2px;
          background-color: #AA9F6B;
          border-radius: 50%;
          color: #fff;
          width: 20px;
          height: 20px;
          display: block;
          cursor: pointer; }
          @media only screen and (min-width: 320px) and (max-width: 640px) {
            div.home section:nth-of-type(3) ul li:hover .rest_cantidad {
              right: 30%; } }
          @media only screen and (min-width: 641px) and (max-width: 1024px) {
            div.home section:nth-of-type(3) ul li:hover .rest_cantidad {
              right: 30%;
              top: 30px;
              display: block;
              position: absolute;
              font-size: 12px;
              padding-left: 5px;
              padding-right: 5px;
              padding-top: 2px;
              padding-bottom: 2px;
              background-color: #AA9F6B;
              border-radius: 50%;
              color: #fff;
              width: 20px;
              height: 20px;
              display: block;
              cursor: pointer; } }
        div.home section:nth-of-type(3) ul li:hover .more_cantidad {
          position: absolute;
          font-size: 12px;
          right: 17%;
          top: 3px;
          padding-left: 5px;
          padding-right: 5px;
          padding-top: 2px;
          padding-bottom: 2px;
          background-color: #AA9F6B;
          border-radius: 50%;
          color: #fff;
          width: 20px;
          height: 20px;
          display: block;
          cursor: pointer; }
          @media only screen and (min-width: 320px) and (max-width: 640px) {
            div.home section:nth-of-type(3) ul li:hover .more_cantidad {
              right: 30%; } }
          @media only screen and (min-width: 641px) and (max-width: 1024px) {
            div.home section:nth-of-type(3) ul li:hover .more_cantidad {
              right: 30%;
              top: 3px;
              display: block;
              position: absolute;
              font-size: 12px;
              padding-left: 5px;
              padding-right: 5px;
              padding-top: 2px;
              padding-bottom: 2px;
              background-color: #AA9F6B;
              border-radius: 50%;
              color: #fff;
              width: 20px;
              height: 20px;
              display: block;
              cursor: pointer; } }
        div.home section:nth-of-type(3) ul li div.boton_talla {
          border: 2px solid #AA9F6B;
          border-radius: 50%;
          margin-left: 5px;
          margin-right: 5px;
          margin-bottom: 30px;
          width: 62%;
          cursor: pointer;
          margin: 0 auto;
          position: relative; }
          @media only screen and (min-width: 641px) and (max-width: 1024px) {
            div.home section:nth-of-type(3) ul li div.boton_talla {
              width: 28%; } }
          @media only screen and (min-width: 537px) and (max-width: 640px) {
            div.home section:nth-of-type(3) ul li div.boton_talla {
              width: 28%; } }
          @media only screen and (min-width: 320px) and (max-width: 420px) {
            div.home section:nth-of-type(3) ul li div.boton_talla {
              width: 38.5%; } }
          @media only screen and (min-width: 421px) and (max-width: 536px) {
            div.home section:nth-of-type(3) ul li div.boton_talla {
              width: 45%; } }
          div.home section:nth-of-type(3) ul li div.boton_talla.select .disable_selecciontalla {
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(171, 150, 53, 0.67);
            border-radius: 50%;
            margin: -2px;
            z-index: 99999; }
          div.home section:nth-of-type(3) ul li div.boton_talla.disable .disable_selecciontalla {
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            border-radius: 50%;
            margin: -2px;
            z-index: 99999; }
          div.home section:nth-of-type(3) ul li div.boton_talla p {
            color: #AA9F6B;
            text-transform: uppercase;
            font-size: 71px;
            margin-top: 10px;
            margin-bottom: 10px;
            cursor: pointer; }
            @media only screen and (min-width: 640px) and (max-width: 800px) {
              div.home section:nth-of-type(3) ul li div.boton_talla p {
                font-size: 41px; } }
            div.home section:nth-of-type(3) ul li div.boton_talla p.cantidad_pedido {
              position: absolute;
              font-size: 14px;
              right: 4%;
              padding-left: 10px;
              padding-right: 10px;
              padding-top: 2px;
              padding-bottom: 2px;
              background-color: #58585A;
              border-radius: 50%;
              color: #fff;
              width: 30px;
              height: 30px;
              display: none; }
        div.home section:nth-of-type(3) ul li .name_talla {
          font-family: 'Lato', sans-serif;
          font-weight: 300;
          font-size: 22px;
          text-transform: uppercase;
          color: #58585A;
          margin-bottom: 0px;
          margin-top: 20px; }
        div.home section:nth-of-type(3) ul li .descripcion_talla {
          margin-bottom: 0px;
          font-family: 'gotham_bookregular';
          color: #58585A;
          line-height: 15px; }
    div.home section:nth-of-type(3) .btn_listo {
      border: 2px solid #58585A;
      width: 30%;
      padding: 10px;
      margin: 0 auto;
      font-family: 'Lato', sans-serif;
      color: #58585A;
      text-transform: uppercase;
      font-size: 20px; }
      @media only screen and (min-width: 320px) and (max-width: 640px) {
        div.home section:nth-of-type(3) .btn_listo {
          width: 50%; } }
  div.home section:nth-of-type(4) {
    background-image: url(img/secpersonaliza.jpg);
    background-size: cover;
    background-position: center left;
    display: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important; }
    @media only screen and (min-width: 320px) and (max-width: 640px) {
      div.home section:nth-of-type(4) {
        height: auto;
        overflow: hidden; } }
    div.home section:nth-of-type(4) .contenedor_brasalete {
      height: 100vh;
      /*p.nombre_brasalete{
        position: absolute;
        left: 40%;
        top: 40%;
        -ms-transform: rotate(-35deg);
        -webkit-transform: rotate(-35deg);
        transform: rotate(-35deg);
        border: 3px dotted #ffffff;
        padding: 15px;
        width: 50%;
        text-align: center;
      }*/ }
      @media only screen and (min-width: 320px) and (max-width: 640px) {
        div.home section:nth-of-type(4) .contenedor_brasalete {
          display: none; } }
    div.home section:nth-of-type(4) .disabled_seccion {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      z-index: 9999;
      display: block; }
      @media only screen and (min-width: 320px) and (max-width: 640px) {
        div.home section:nth-of-type(4) .disabled_seccion {
          text-align: center; } }
      div.home section:nth-of-type(4) .disabled_seccion h2 {
        position: absolute;
        color: #ffffff;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        text-align: center; }
        @media only screen and (min-width: 320px) and (max-width: 640px) {
          div.home section:nth-of-type(4) .disabled_seccion h2 {
            font-size: 22px !important; } }
    div.home section:nth-of-type(4) div.contenedor_datos {
      background-color: rgba(0, 0, 0, 0.7);
      height: 100vh;
      padding-top: 40px;
      padding-bottom: 40px;
      padding-left: 60px;
      padding-right: 60px;
      position: relative; }
      @media only screen and (min-width: 320px) and (max-width: 640px) {
        div.home section:nth-of-type(4) div.contenedor_datos {
          height: auto;
          overflow: hidden;
          background-color: black; } }
      @media only screen and (max-height: 750px) {
        div.home section:nth-of-type(4) div.contenedor_datos {
          overflow: scroll; } }
      div.home section:nth-of-type(4) div.contenedor_datos h3.titulo_brasalete {
        font-family: 'Lato', sans-serif;
        color: #ffffff;
        font-weight: 700;
        text-align: center; }
      div.home section:nth-of-type(4) div.contenedor_datos div.divisor {
        position: absolute;
        background-color: #AA9F6B;
        height: 3px;
        width: 40%;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%); }
      div.home section:nth-of-type(4) div.contenedor_datos div.info_brasalete {
        margin-top: 40px; }
        div.home section:nth-of-type(4) div.contenedor_datos div.info_brasalete h4 {
          color: #ffffff;
          font-family: 'Lato', sans-serif;
          font-weight: 700; }
        div.home section:nth-of-type(4) div.contenedor_datos div.info_brasalete small {
          color: #AA9F6B; }
        div.home section:nth-of-type(4) div.contenedor_datos div.info_brasalete label {
          font-family: 'Lato', sans-serif;
          font-weight: 300;
          color: #ffffff;
          font-size: 15px; }
          div.home section:nth-of-type(4) div.contenedor_datos div.info_brasalete label.inline2 {
            display: inline; }
        div.home section:nth-of-type(4) div.contenedor_datos div.info_brasalete div.contenedor_btncompra {
          width: 60%;
          text-align: center;
          margin: 20px auto;
          border: 1px solid #fff;
          padding: 10px; }
          div.home section:nth-of-type(4) div.contenedor_datos div.info_brasalete div.contenedor_btncompra a {
            color: #ffffff;
            font-family: 'Lato', sans-serif;
            font-weight: 700;
            font-size: 22px; }

.pedido_template {
  background-color: #F3F3F3;
  overflow: hidden;
  padding-bottom: 80px;
  height: auto;
  padding-top: 8%; }
  @media only screen and (min-width: 320px) and (max-width: 640px) {
    .pedido_template {
      height: auto;
      position: relative; } }
  .pedido_template .center {
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
    @media only screen and (min-width: 320px) and (max-width: 640px) {
      .pedido_template .center {
        width: 100%;
        position: relative;
        left: 0;
        top: 0;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0); } }
  .pedido_template h3.titulo {
    color: #58585A;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: 10px;
    text-transform: uppercase;
    padding-top: 40px;
    margin-bottom: 15px; }
  .pedido_template div.divisor {
    position: absolute;
    background-color: #58585A;
    height: 3px;
    width: 20%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%); }
  @media only screen and (min-width: 320px) and (max-width: 640px) {
    .pedido_template .carrusel {
      margin-bottom: 20px; } }
  .pedido_template .texto_descriptivo {
    font-family: 'gotham_bookregular';
    color: #58585A;
    padding-right: 15%;
    padding-left: 15%;
    text-align: center;
    font-size: 17px;
    margin-top: 60px; }
  .pedido_template .cabezeras_tabla {
    margin-top: 60px; }
    @media only screen and (min-width: 320px) and (max-width: 640px) {
      .pedido_template .cabezeras_tabla {
        display: none; } }
    .pedido_template .cabezeras_tabla li {
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      color: #58585A; }
  .pedido_template .contenido_tablapedido {
    border-bottom: 1px solid #58585A; }
    @media only screen and (min-width: 320px) and (max-width: 640px) {
      .pedido_template .contenido_tablapedido {
        border-bottom: none; } }
    .pedido_template .contenido_tablapedido li {
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      text-transform: uppercase;
      color: #333333;
      text-align: left;
      position: relative; }
      @media only screen and (min-width: 320px) and (max-width: 640px) {
        .pedido_template .contenido_tablapedido li span {
          font-family: 'Lato', sans-serif;
          font-weight: 700;
          text-transform: uppercase;
          color: #58585A; } }
      .pedido_template .contenido_tablapedido li .overlay_pulsera {
        opacity: 0; }
        .pedido_template .contenido_tablapedido li .overlay_pulsera img {
          display: none; }
      .pedido_template .contenido_tablapedido li:hover .overlay_pulsera {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        opacity: 1;
        -webkit-transition: opacity 300ms ease-in-out;
        -moz-transition: opacity 300ms ease-in-out;
        -ms-transition: opacity 300ms ease-in-out;
        -o-transition: opacity 300ms ease-in-out;
        transition: opacity 300ms ease-in-out; }
        .pedido_template .contenido_tablapedido li:hover .overlay_pulsera img {
          display: block;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -webkit-transition: opacity 300ms ease-in-out;
          -moz-transition: opacity 300ms ease-in-out;
          -ms-transition: opacity 300ms ease-in-out;
          -o-transition: opacity 300ms ease-in-out;
          transition: opacity 300ms ease-in-out;
          cursor: pointer; }
      .pedido_template .contenido_tablapedido li .titulos_responsivos {
        display: none; }
      .pedido_template .contenido_tablapedido li.tallas span {
        font-size: 12px;
        display: block; }
      .pedido_template .contenido_tablapedido li .edit {
        display: inline-block;
        color: #58585A;
        cursor: pointer; }
      .pedido_template .contenido_tablapedido li .delete {
        display: inline-block;
        color: #58585A;
        cursor: pointer; }
      @media only screen and (min-width: 320px) and (max-width: 640px) {
        .pedido_template .contenido_tablapedido li.acciones {
          border-bottom: 1px solid #58585A;
          margin-bottom: 20px; } }
  .pedido_template .total_global {
    text-align: right; }
    .pedido_template .total_global p {
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      color: #58585A;
      display: inline; }
  .pedido_template .costo_envio {
    text-align: right; }
    .pedido_template .costo_envio p {
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      color: #58585A;
      display: inline; }
  .pedido_template .mensaje_pedidovacio {
    color: #AA9F6B;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center; }
  .pedido_template .btn_addpedido {
    border: 2px solid #58585A;
    width: 30%;
    padding: 10px;
    float: right;
    text-align: center;
    color: #58585A;
    text-transform: uppercase; }
    @media only screen and (min-width: 320px) and (max-width: 640px) {
      .pedido_template .btn_addpedido {
        width: 90%;
        margin: 0 auto;
        float: none; } }
  .pedido_template .informacion_envio {
    margin-top: 70px; }
    .pedido_template .informacion_envio .aviso_campos {
      margin-left: 15px; }
    .pedido_template .informacion_envio .select1 {
      padding-left: 0px; }
      @media only screen and (min-width: 320px) and (max-width: 640px) {
        .pedido_template .informacion_envio .select1 {
          padding: 0; } }
    .pedido_template .informacion_envio .select2 {
      padding-right: 0px; }
      @media only screen and (min-width: 320px) and (max-width: 640px) {
        .pedido_template .informacion_envio .select2 {
          padding: 0; } }

.nosotros {
  height: auto;
  overflow: hidden;
  position: relative;
  background-image: url("img/fondo_nosotros.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-right: 0px !important;
  padding-left: 0px !important; }
  @media only screen and (min-width: 320px) and (max-width: 640px) {
    .nosotros {
      position: relative; } }
  .nosotros .over {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9); }
    @media (max-width: 641px) {
      .nosotros .over {
        padding: 30px; } }
  .nosotros .contenido {
    margin-top: 10%;
    margin-bottom: 10%;
    position: inherit; }
    .nosotros .contenido h3 {
      color: #ffffff;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 10px;
      text-align: center;
      margin-bottom: 15px; }
    .nosotros .contenido .divisor {
      position: absolute;
      background-color: #AA9F6B;
      height: 3px;
      width: 10%;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%); }
    .nosotros .contenido .texto {
      margin-top: 40px;
      margin-bottom: 40px; }
      .nosotros .contenido .texto p {
        font-family: 'gotham_bookregular';
        color: #ffffff;
        font-size: 13px;
        margin-bottom: 10px; }
      .nosotros .contenido .texto blockquote {
        border-left: none; }
        .nosotros .contenido .texto blockquote p {
          font-family: 'gotham_htfbold';
          color: #ffffff;
          font-size: 16px;
          font-style: italic; }
      .nosotros .contenido .texto b {
        font-family: 'gotham_htfbold';
        font-size: 18px; }
      .nosotros .contenido .texto strong {
        font-family: 'gotham_htfbold';
        font-size: 18px; }
      .nosotros .contenido .texto.valores {
        text-align: center;
        -webkit-column-count: 2;
        /* Chrome, Safari, Opera */
        -moz-column-count: 2;
        /* Firefox */
        column-count: 2;
        -webkit-column-gap: 20px;
        /* Chrome, Safari, Opera */
        -moz-column-gap: 20px;
        /* Firefox */
        column-gap: 20px; }
        @media only screen and (min-width: 320px) and (max-width: 640px) {
          .nosotros .contenido .texto.valores {
            text-align: center;
            -webkit-column-count: 1;
            /* Chrome, Safari, Opera */
            -moz-column-count: 1;
            /* Firefox */
            column-count: 1;
            -webkit-column-gap: 20px;
            /* Chrome, Safari, Opera */
            -moz-column-gap: 20px;
            /* Firefox */
            column-gap: 20px; } }

.blog {
  height: auto;
  overflow: hidden;
  background-color: #ffffff;
  margin-top: 3%; }
  .blog .row {
    margin-top: 5%; }
    .blog .row .titulo_blog {
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 10px;
      color: #58585A; }
    .blog .row .divisor {
      position: relative;
      background-color: #AA9F6B;
      height: 3px;
      width: 20%;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%); }
    .blog .row .articulos {
      margin-top: 5%; }
      .blog .row .articulos .contenido_articulo {
        height: 440px; }
        .blog .row .articulos .contenido_articulo .contenido_foto {
          height: 300px;
          overflow: hidden; }
          .blog .row .articulos .contenido_articulo .contenido_foto .img_articulo {
            background-size: cover;
            background-position: top center;
            background-repeat: no-repeat;
            height: 100%; }
        .blog .row .articulos .contenido_articulo .titulo_articulo {
          text-align: center;
          color: #515050;
          text-transform: uppercase;
          padding-top: 10px;
          margin-bottom: 0px; }
        .blog .row .articulos .contenido_articulo .description_articulo {
          color: #B3B3B3;
          font-size: 11px;
          font-family: 'gotham_bookregular';
          text-align: center;
          margin-top: 5px; }
    .blog .row .paginav {
      margin-top: 30px;
      margin-bottom: 30px;
      text-align: center; }
      .blog .row .paginav .page-numbers {
        color: #ffffff;
        font-family: 'gotham_bookregular';
        font-size: 20px; }
      .blog .row .paginav .next {
        border: 1px solid #58585A;
        color: #58585A;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 13px;
        text-transform: uppercase; }
      .blog .row .paginav .prev {
        border: 1px solid #58585A;
        color: #58585A;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 13px;
        text-transform: uppercase; }

.single_articulo {
  height: auto;
  overflow: hidden;
  background-color: #ffffff;
  margin-top: 4%; }
  .single_articulo .row {
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 65.5rem; }
    .single_articulo .row .entry-title {
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      text-transform: uppercase;
      text-align: center;
      color: #58585A;
      margin-top: 20px; }
    .single_articulo .row .entry-title2 {
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      text-transform: uppercase;
      text-align: center;
      color: #58585A;
      margin-top: 60px; }
    .single_articulo .row .img_destacada {
      text-align: center; }
    .single_articulo .row .entry-content {
      margin-top: 40px; }
      .single_articulo .row .entry-content .aligncenter {
        margin: 0 auto;
        display: block; }
      .single_articulo .row .entry-content p {
        font-family: 'gotham_bookregular';
        color: #58585A;
        font-size: 14px; }
      .single_articulo .row .entry-content h2 {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        color: #58585A;
        margin-top: 20px; }
      .single_articulo .row .entry-content h3 {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        color: #58585A;
        margin-top: 20px; }
      .single_articulo .row .entry-content h4 {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        color: #58585A;
        margin-top: 20px; }
    .single_articulo .row .fecha_publicado {
      color: #666666;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      text-align: center; }
    .single_articulo .row .title-relacionado {
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      color: #515050;
      text-align: center;
      font-size: 18px; }
    .single_articulo .row .description_articulorelacionado {
      color: #999999;
      font-family: 'gotham_bookregular';
      font-size: 14px; }
    @media only screen and (min-width: 800px) and (max-width: 2000px) {
      .single_articulo .row .owl-next {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: transparent !important; }
        .single_articulo .row .owl-next span {
          font-size: 70px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          color: #AA9F6B;
          right: -70px; } }
    @media only screen and (min-width: 800px) and (max-width: 2000px) {
      .single_articulo .row .owl-prev {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: transparent !important; }
        .single_articulo .row .owl-prev span {
          font-size: 70px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          color: #AA9F6B;
          left: -70px; } }

.distribuidores {
  margin-top: 3%; }
  .distribuidores .row {
    margin-top: 5%;
    margin-bottom: 5%; }
    .distribuidores .row .btnupdateinfo {
      border: 2px solid #AA9F6B;
      width: 12%;
      color: #AA9F6B;
      margin-top: 40px;
      margin-left: 25px;
      cursor: pointer; }
      @media only screen and (min-width: 641px) and (max-width: 800px) {
        .distribuidores .row .btnupdateinfo {
          width: 17%; } }
      @media only screen and (min-width: 320px) and (max-width: 640px) {
        .distribuidores .row .btnupdateinfo {
          width: 40%; } }
      .distribuidores .row .btnupdateinfo span {
        margin-left: 5px;
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 12px; }
    .distribuidores .row .titulo_panel {
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 10px;
      color: #58585A; }
    .distribuidores .row .divisor {
      position: relative;
      background-color: #AA9F6B;
      height: 3px;
      width: 20%;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%); }
    .distribuidores .row .datos_distribuidor {
      margin-top: 20px;
      margin-bottom: 40px;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
      -webkit-column-gap: 20px;
      -moz-column-gap: 20px;
      column-gap: 20px; }
      @media only screen and (min-width: 320px) and (max-width: 640px) {
        .distribuidores .row .datos_distribuidor {
          -webkit-column-count: 1;
          -moz-column-count: 1;
          column-count: 1;
          -webkit-column-gap: 0px;
          -moz-column-gap: 0px;
          column-gap: 0px; } }
      .distribuidores .row .datos_distribuidor p {
        color: #515050;
        font-family: 'Lato', sans-serif;
        font-weight: 400; }
    .distribuidores .row .divisor_delgado {
      position: relative;
      background-color: #AA9F6B;
      height: 1px;
      width: 70%;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      margin-bottom: 40px; }
    .distribuidores .row .cuadros {
      margin-top: 40px; }
      .distribuidores .row .cuadros ul {
        margin-left: 0px; }
        .distribuidores .row .cuadros ul li {
          padding: 0;
          color: #808080;
          list-style: none; }
          .distribuidores .row .cuadros ul li label {
            width: 20px;
            height: 20px;
            float: left;
            margin: 1% 3%; }
    .distribuidores .row .filtro {
      width: 20%;
      border: 2px solid #AA9F6B;
      color: #AA9F6B; }
    .distribuidores .row .listado_pedidos {
      margin-top: 5%; }
      .distribuidores .row .listado_pedidos .img {
        margin-bottom: 15px; }
      .distribuidores .row .listado_pedidos .estatus {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: #666666;
        font-size: 24px; }
        .distribuidores .row .listado_pedidos .estatus label {
          width: 20px;
          height: 20px;
          float: left;
          margin: 3% 3%; }
      .distribuidores .row .listado_pedidos .datos {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: #666666; }
    .distribuidores .row option:hover {
      background-color: #AA9F6B;
      color: #ffffff; }

.registro {
  height: auto;
  overflow: hidden;
  background-color: #ffffff;
  margin-top: 3%; }
  .registro .row {
    margin-top: 5%;
    margin-bottom: 5%; }
    .registro .row .titulo_sitio {
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 10px;
      color: #58585A; }
    .registro .row .divisor {
      position: relative;
      background-color: #AA9F6B;
      height: 3px;
      width: 20%;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%); }
    .registro .row .datos_registro {
      margin-top: 40px;
      height: auto;
      overflow: hidden; }
      .registro .row .datos_registro .btn_agregar {
        float: right;
        margin-right: 20px;
        border: 1px solid #58585A;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: #58585A;
        text-transform: uppercase; }

.contacto {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  @media only screen and (min-width: 320px) and (max-width: 640px) {
    .contacto {
      height: auto;
      overflow: hidden;
      position: relative; } }
  .contacto .overlay_contacto {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1); }
    @media (max-width: 641px) {
      .contacto .overlay_contacto {
        padding: 30px; } }
    @media only screen and (min-width: 320px) and (max-width: 640px) {
      .contacto .overlay_contacto {
        height: 100%; } }
    @media only screen and (min-width: 641px) and (max-width: 1024px) {
      .contacto .overlay_contacto {
        height: 106%; } }
  .contacto .titulo_contacto {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center; }
  .contacto .divisor {
    position: relative;
    background-color: #AA9F6B;
    height: 3px;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%); }
  .contacto .center {
    width: 70%; }
    @media only screen and (min-width: 320px) and (max-width: 640px) {
      .contacto .center {
        width: 100%;
        position: relative; } }
    @media only screen and (min-width: 641px) and (max-width: 1024px) {
      .contacto .center {
        width: 85%; } }
    .contacto .center .contenido_page {
      margin-top: 80px; }
      .contacto .center .contenido_page .info_contacto h3 {
        color: #ffffff;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        text-transform: uppercase; }
      .contacto .center .contenido_page .info_contacto h2 {
        color: #ffffff;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        text-transform: uppercase; }
      .contacto .center .contenido_page .info_contacto h1 {
        color: #ffffff;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        text-transform: uppercase; }
      .contacto .center .contenido_page .info_contacto p {
        font-family: 'Lato', sans-serif;
        font-weight: 100;
        color: #ffffff;
        font-size: 13px; }
      .contacto .center .contenido_page .info_contacto a {
        color: #AA9F6B;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        display: inline; }
      .contacto .center .contenido_page .form_contacto label {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        color: #ffffff; }
      .contacto .center .contenido_page .form_contacto br {
        display: none; }
      .contacto .center .contenido_page .form_contacto .wpcf7-submit {
        width: 50%;
        background-color: transparent;
        border: 1px solid #AA9F6B;
        color: #fff;
        padding: 5px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 18px;
        appearance: none;
        -moz-appearance: none;
        /* Firefox */
        -webkit-appearance: none;
        /* Safari and Chrome */ }
      .contacto .center .contenido_page .form_contacto .btn_submit {
        text-align: center; }
      .contacto .center .contenido_page .form_contacto input {
        background: rgba(255, 255, 255, 0.7); }
      .contacto .center .contenido_page .form_contacto textarea {
        background: rgba(255, 255, 255, 0.7); }

.overlay_loader {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999999;
  display: none; }

#footer {
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
  padding-bottom: 10px; }
  #footer div.privacidad p {
    color: #B3B3B3;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    margin-bottom: 0px;
    margin-top: 10px; }
    @media only screen and (min-width: 320px) and (max-width: 640px) {
      #footer div.privacidad p {
        text-align: center; } }
  #footer div.icons {
    display: inline-block; }
    #footer div.icons.iconcircular {
      float: right;
      color: #58585A; }
      @media only screen and (min-width: 320px) and (max-width: 640px) {
        #footer div.icons.iconcircular {
          float: none; } }
      #footer div.icons.iconcircular:before {
        font-size: 30px; }
  #footer ::-webkit-input-placeholder {
    color: #666666 !important;
    font-family: 'gotham_bookregular' !important;
    font-family: 'Lato', sans-serif;
    font-weight: 300; }
  #footer :-moz-placeholder {
    color: #666666 !important;
    font-family: 'gotham_bookregular' !important;
    font-family: 'Lato', sans-serif;
    font-weight: 300; }
  #footer ::-moz-placeholder {
    color: #666666 !important;
    font-family: 'gotham_bookregular' !important;
    font-family: 'Lato', sans-serif;
    font-weight: 300; }
  #footer :-ms-input-placeholder {
    color: #666666 !important;
    font-family: 'gotham_bookregular' !important;
    font-family: 'Lato', sans-serif;
    font-weight: 300; }
  #footer .leyenda_nosotros {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #AA9F6B;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: 0px;
    margin-top: 50px; }
    @media only screen and (min-width: 320px) and (max-width: 640px) {
      #footer .leyenda_nosotros {
        font-size: 18px; } }
  #footer .wysija-paragraph {
    width: 40%;
    display: inline; }
    @media only screen and (min-width: 320px) and (max-width: 640px) {
      #footer .wysija-paragraph {
        width: 100% !important;
        display: block !important;
        margin-bottom: 0px;
        margin-top: 20px; }
        #footer .wysija-paragraph input {
          width: 100% !important;
          display: block !important;
          margin-bottom: 0px; } }
  #footer .wysija-submit {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    display: inline;
    background-color: #AA9F6B;
    border: none;
    font-size: 19px;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 40px;
    padding-right: 40px;
    color: #fff;
    text-transform: uppercase; }

.overlay_multiusos {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
  display: none; }

.overlay_multiusos2 {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
  display: none; }

.mensaje {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #E6E6E6;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 300ms,opacity 300ms linear;
  z-index: 99999;
  width: 40%;
  border-radius: 5px; }
  @media only screen and (min-width: 320px) and (max-width: 640px) {
    .mensaje {
      width: 100%; } }
  .mensaje p {
    color: #656565;
    font-family: 'gotham_bookregular'; }
  .mensaje.exito {
    border: 3px solid #22B573; }
    .mensaje.exito .btn_cerrar {
      border: 1px solid #22B573;
      padding-right: 10px;
      padding-left: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 0 auto;
      color: #22B573;
      font-family: 'gotham_bookregular'; }
      .mensaje.exito .btn_cerrar:hover {
        background-color: #22B573;
        color: #ffffff; }
  .mensaje.error {
    border: 3px solid #bf2026; }
    .mensaje.error .btn_cerrar {
      border: 1px solid #bf2026;
      padding-right: 10px;
      padding-left: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 0 auto;
      color: #bf2026;
      font-family: 'gotham_bookregular'; }
      .mensaje.error .btn_cerrar:hover {
        background-color: #bf2026;
        color: #ffffff; }
  .mensaje.advertencia {
    border: 3px solid #F8BB86; }
    .mensaje.advertencia .btn_cerrar {
      border: 1px solid #F8BB86;
      padding-right: 10px;
      padding-left: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 0 auto;
      color: #F8BB86;
      font-family: 'gotham_bookregular'; }
      .mensaje.advertencia .btn_cerrar:hover {
        background-color: #F8BB86;
        color: #ffffff; }
  .mensaje h2 {
    color: #656565;
    font-family: 'gotham_htfbold';
    text-align: center; }

.mensaje_pedido {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #E6E6E6;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 300ms,opacity 300ms linear;
  z-index: 99999;
  width: 40%;
  border-radius: 5px; }
  @media only screen and (min-width: 320px) and (max-width: 640px) {
    .mensaje_pedido {
      width: 100%; } }
  .mensaje_pedido p {
    color: #656565;
    font-family: 'gotham_bookregular'; }
  .mensaje_pedido .btn_confirm {
    display: inline-block; }
  .mensaje_pedido.exito {
    border: 3px solid #22B573; }
    .mensaje_pedido.exito .btn_moreproduct {
      border: 1px solid #22B573;
      padding-right: 10px;
      padding-left: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 0 auto;
      color: #22B573;
      font-family: 'gotham_bookregular'; }
      .mensaje_pedido.exito .btn_moreproduct:hover {
        background-color: #22B573;
        color: #ffffff; }
    .mensaje_pedido.exito .btn_Checkout {
      border: 1px solid #bf2026;
      padding-right: 10px;
      padding-left: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 0 auto;
      color: #bf2026;
      font-family: 'gotham_bookregular'; }
      .mensaje_pedido.exito .btn_Checkout:hover {
        background-color: #bf2026;
        color: #ffffff; }
  .mensaje_pedido.error {
    border: 3px solid #bf2026; }
    .mensaje_pedido.error .btn_cerrar {
      border: 1px solid #bf2026;
      padding-right: 10px;
      padding-left: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 0 auto;
      color: #bf2026;
      font-family: 'gotham_bookregular'; }
      .mensaje_pedido.error .btn_cerrar:hover {
        background-color: #bf2026;
        color: #ffffff; }
  .mensaje_pedido.advertencia {
    border: 3px solid #F8BB86; }
    .mensaje_pedido.advertencia .btn_cerrar {
      border: 1px solid #F8BB86;
      padding-right: 10px;
      padding-left: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 0 auto;
      color: #F8BB86;
      font-family: 'gotham_bookregular'; }
      .mensaje_pedido.advertencia .btn_cerrar:hover {
        background-color: #F8BB86;
        color: #ffffff; }
  .mensaje_pedido h2 {
    color: #656565;
    font-family: 'gotham_htfbold';
    text-align: center; }

.edit_pedido {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #E6E6E6;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 300ms,opacity 300ms linear;
  z-index: 99999;
  width: 40%;
  border-radius: 5px;
  border: 3px solid #22B573; }
  @media only screen and (min-width: 320px) and (max-width: 640px) {
    .edit_pedido {
      width: 100%; } }
  .edit_pedido .contenido_modal {
    height: 400px;
    overflow-y: scroll;
    margin-bottom: 10px; }
  .edit_pedido p {
    color: #656565;
    font-family: 'gotham_bookregular';
    margin-bottom: 10px; }
  .edit_pedido .btn_actualizar {
    border: 1px solid #22B573;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 auto;
    color: #22B573;
    font-family: 'gotham_bookregular'; }
    .edit_pedido .btn_actualizar:hover {
      background-color: #22B573;
      color: #ffffff; }
  .edit_pedido .btn_cancelar_edit {
    border: 1px solid #bf2026;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 auto;
    color: #bf2026;
    font-family: 'gotham_bookregular'; }
    .edit_pedido .btn_cancelar_edit:hover {
      background-color: #bf2026;
      color: #ffffff; }
  .edit_pedido h2 {
    color: #656565;
    font-family: 'gotham_htfbold';
    text-align: center; }
  .edit_pedido input[type="number"] {
    width: 50px;
    display: inline-block;
    margin-left: 10px; }

.mensaje_confirm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #E6E6E6;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 300ms,opacity 300ms linear;
  z-index: 99999;
  width: 40%;
  border-radius: 5px;
  border: 3px solid #22B573; }
  @media only screen and (min-width: 320px) and (max-width: 640px) {
    .mensaje_confirm {
      width: 100%; } }
  .mensaje_confirm .contenido_modal {
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 10px; }
  .mensaje_confirm .btn_confirm {
    display: inline-block; }
  .mensaje_confirm p {
    color: #656565;
    font-family: 'gotham_bookregular';
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px; }
  .mensaje_confirm .btn_acept {
    border: 1px solid #22B573;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 auto;
    color: #22B573;
    font-family: 'gotham_bookregular';
    display: inline-block; }
    .mensaje_confirm .btn_acept:hover {
      background-color: #22B573;
      color: #ffffff; }
  .mensaje_confirm .btn_cancel {
    border: 1px solid #bf2026;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 auto;
    color: #bf2026;
    font-family: 'gotham_bookregular';
    display: inline-block; }
    .mensaje_confirm .btn_cancel:hover {
      background-color: #bf2026;
      color: #ffffff; }

.mensaje_confirm_pulsera {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #E6E6E6;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 300ms,opacity 300ms linear;
  z-index: 99999;
  width: 40%;
  border-radius: 5px;
  border: 3px solid #22B573; }
  @media only screen and (min-width: 320px) and (max-width: 640px) {
    .mensaje_confirm_pulsera {
      width: 100%; } }
  .mensaje_confirm_pulsera .contenido_modal {
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 10px; }
  .mensaje_confirm_pulsera .btn_confirm {
    display: inline-block; }
  .mensaje_confirm_pulsera p {
    color: #656565;
    font-family: 'gotham_bookregular';
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px; }
  .mensaje_confirm_pulsera .btn_acept2 {
    border: 1px solid #22B573;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 auto;
    color: #22B573;
    font-family: 'gotham_bookregular';
    display: inline-block; }
    .mensaje_confirm_pulsera .btn_acept2:hover {
      background-color: #22B573;
      color: #ffffff; }
  .mensaje_confirm_pulsera .btn_cancel2 {
    border: 1px solid #bf2026;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 auto;
    color: #bf2026;
    font-family: 'gotham_bookregular';
    display: inline-block; }
    .mensaje_confirm_pulsera .btn_cancel2:hover {
      background-color: #bf2026;
      color: #ffffff; }

.modal_formaspago {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #E6E6E6;
  padding: 4%;
  z-index: 999999;
  display: none; }
  .modal_formaspago .close_pago {
    position: absolute;
    right: 10px;
    top: 10px; }
    .modal_formaspago .close_pago .close_formaspago {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 50%;
      color: #ffffff;
      background-color: #58585A; }
      .modal_formaspago .close_pago .close_formaspago:before {
        font-size: 14px;
        margin-left: 0px; }
  .modal_formaspago h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #58585A;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px; }
  .modal_formaspago div.divisor {
    position: absolute;
    background-color: #58585A;
    height: 3px;
    width: 80%;
    left: 50%;
    transform: translatex(-50%);
    -webkit-transform: translatex(-50%);
    -ms-transform: translatex(-50%); }
  .modal_formaspago .logos_pagos {
    height: auto;
    overflow: hidden;
    margin-top: 50px; }
    .modal_formaspago .logos_pagos ul li {
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      font-size: 16px;
      color: #3FA9F5;
      list-style: none; }
    .modal_formaspago .logos_pagos .leyenda_pago {
      font-family: 'gotham_bookregular';
      font-size: 11px; }

.page_template {
  background-color: #F3F3F3; }
  .page_template h3 {
    color: #58585A;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
    margin-bottom: 30px; }
  .page_template h4 {
    color: #58585A;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 30px; }
  .page_template p {
    font-family: 'gotham_bookregular';
    color: #58585A;
    padding-right: 10%;
    padding-left: 10%;
    font-size: 17px; }
  .page_template ul {
    padding-right: 10%;
    padding-left: 10%; }
    .page_template ul li {
      font-family: 'gotham_bookregular';
      color: #58585A;
      font-size: 17px; }
  .page_template .row {
    margin-top: 10%;
    margin-bottom: 8%; }

.pedido_resumen {
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 5% !important;
  padding-right: 5% !important; }
  .pedido_resumen h3 {
    color: #58585A;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
    margin-bottom: 60px; }
  .pedido_resumen h5 {
    color: #58585A;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase; }
  .pedido_resumen .datos_envio {
    margin-bottom: 20px; }
    .pedido_resumen .datos_envio p {
      font-family: 'Lato', sans-serif;
      font-weight: 100;
      text-transform: uppercase;
      color: #58585A; }
  @media only screen and (max-width: 640px) and (min-width: 320px) {
    .pedido_resumen .cabezeras_pedido_tabla {
      display: none; } }
  .pedido_resumen .cabezeras_pedido_tabla li {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    color: #58585A; }
  .pedido_resumen .contenido_pedido_tabla {
    margin-top: 0px; }
    .pedido_resumen .contenido_pedido_tabla li {
      font-family: 'Lato', sans-serif;
      font-weight: 100;
      text-transform: uppercase;
      color: #58585A; }
      .pedido_resumen .contenido_pedido_tabla li p {
        margin-bottom: 0px;
        font-family: 'Lato', sans-serif;
        font-weight: 100; }
    .pedido_resumen .contenido_pedido_tabla .titulos_responsivos {
      display: none; }
      @media only screen and (max-width: 640px) and (min-width: 320px) {
        .pedido_resumen .contenido_pedido_tabla .titulos_responsivos {
          display: block; } }

.modal_personaliza {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #E6E6E6;
  width: 100%;
  z-index: 99999;
  padding-left: 0px !important;
  padding-right: 0px !important; }
  .modal_personaliza .img_brasalete {
    padding: 0px;
    position: relative;
    z-index: 9;
    overflow: hidden; }
    .modal_personaliza .img_brasalete .container_pulsera {
      position: relative;
      height: 500px;
      overflow: hidden; }
      @media only screen and (min-width: 320px) and (max-width: 640px) {
        .modal_personaliza .img_brasalete .container_pulsera {
          display: none !important; } }
      .modal_personaliza .img_brasalete .container_pulsera img {
        margin-top: 50px;
        z-index: 9;
        position: relative !important;
        width: 100%; }
      .modal_personaliza .img_brasalete .container_pulsera .nombre_pulseradiseno {
        position: relative;
        border: 2px dashed #fff;
        padding: 5px;
        color: #DCDCDC !important;
        font-size: 37px;
        z-index: 9999999;
        text-shadow: 2px 2px #616161;
        margin-top: -37%;
        text-align: center;
        line-height: 35px; }
  .modal_personaliza div.contenedor_datos {
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 60px;
    padding-right: 60px;
    position: relative; }
    @media only screen and (min-width: 320px) and (max-width: 640px) {
      .modal_personaliza div.contenedor_datos {
        height: 100vh !important;
        overflow: scroll;
        background-color: black;
        padding-right: 0px;
        padding-left: 0px; } }
    @media only screen and (max-height: 750px) {
      .modal_personaliza div.contenedor_datos {
        overflow: scroll;
        height: 100vh !important; } }
    .modal_personaliza div.contenedor_datos h3.titulo_brasalete {
      font-family: 'Lato', sans-serif;
      color: #ffffff;
      font-weight: 700;
      text-align: center; }
    .modal_personaliza div.contenedor_datos div.divisor {
      position: absolute;
      background-color: #AA9F6B;
      height: 3px;
      width: 40%;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%); }
    .modal_personaliza div.contenedor_datos div.info_brasalete {
      margin-top: 40px; }
      .modal_personaliza div.contenedor_datos div.info_brasalete small {
        color: #AA9F6B; }
      .modal_personaliza div.contenedor_datos div.info_brasalete h4 {
        color: #ffffff;
        font-family: 'Lato', sans-serif;
        font-weight: 700; }
      .modal_personaliza div.contenedor_datos div.info_brasalete label {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        color: #ffffff;
        font-size: 15px; }
        .modal_personaliza div.contenedor_datos div.info_brasalete label.inline2 {
          display: inline; }
  .modal_personaliza div.contenedor_btncompra {
    width: 60%;
    text-align: center;
    margin: 20px auto;
    border: 1px solid #AA9F6B;
    padding: 10px;
    display: inline;
    margin-right: 20px; }
    .modal_personaliza div.contenedor_btncompra a {
      color: #ffffff;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      font-size: 18px; }
  .modal_personaliza .contenedor_btncancelar {
    width: 60%;
    text-align: center;
    margin: 20px auto;
    border: 1px solid #fff;
    padding: 10px;
    display: inline;
    margin-right: 20px; }
    .modal_personaliza .contenedor_btncancelar a {
      color: #ffffff;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      font-size: 18px; }

.tenplate_gracias {
  background-color: #333333;
  height: 100vh; }
  .tenplate_gracias .texto_gracias {
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 700; }
  .tenplate_gracias ::-webkit-input-placeholder {
    color: #666666 !important;
    font-family: 'gotham_bookregular' !important;
    font-family: 'Lato', sans-serif;
    font-weight: 300; }
  .tenplate_gracias :-moz-placeholder {
    color: #666666 !important;
    font-family: 'gotham_bookregular' !important;
    font-family: 'Lato', sans-serif;
    font-weight: 300; }
  .tenplate_gracias ::-moz-placeholder {
    color: #666666 !important;
    font-family: 'gotham_bookregular' !important;
    font-family: 'Lato', sans-serif;
    font-weight: 300; }
  .tenplate_gracias :-ms-input-placeholder {
    color: #666666 !important;
    font-family: 'gotham_bookregular' !important;
    font-family: 'Lato', sans-serif;
    font-weight: 300; }
  .tenplate_gracias .leyenda_nosotros {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #AA9F6B;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: 0px;
    margin-top: 50px; }
  .tenplate_gracias .wysija-submit {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    display: inline;
    background-color: #AA9F6B;
    border: none;
    font-size: 19px;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 40px;
    padding-right: 40px;
    color: #fff;
    text-transform: uppercase; }

.boton_pagos {
  width: 150px;
  max-width: 150px; }

.contenido_pulsera {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 5%;
  background-color: transparent;
  z-index: 99999; }
  .contenido_pulsera .close_viewpulsera {
    position: absolute;
    right: 30px;
    color: #ffffff;
    cursor: pointer; }

.comments-title {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #58585A;
  margin-top: 20px; }

.comment-author {
  border: none !important;
  margin-bottom: 0px !important; }

.comment-list {
  list-style: none; }

.comment-content {
  font-family: 'gotham_bookregular';
  color: #58585A;
  font-size: 14px; }

.comment-metadata a {
  font-family: 'gotham_bookregular';
  color: #58585A;
  font-size: 12px; }

.widget_wysija_cont .updated {
  background-color: transparent !important;
  border-color: #E6DB55 !important;
  color: #fff !important;
  font-family: 'gotham_bookregular' !important;
  text-align: center; }

#ui-datepicker-div:after {
  display: none; }

.login_distribuidores {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 3%;
  border: 3px solid #AA9F6B;
  width: 25%;
  display: none;
  z-index: 9999; }
  @media only screen and (min-width: 641px) and (max-width: 1024px) {
    .login_distribuidores {
      width: 45%; } }
  @media only screen and (min-width: 320px) and (max-width: 640px) {
    .login_distribuidores {
      width: 75%; } }
  .login_distribuidores .close_login {
    color: #585859;
    position: absolute;
    top: 5px;
    right: 10px; }
  .login_distribuidores .titulo_login {
    color: #585859;
    text-align: center;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase; }
  .login_distribuidores .btnlogin {
    padding: 5px;
    border: 2px solid #585859;
    margin-top: 20px;
    color: #58585A;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 300; }
  .login_distribuidores .registro {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 12px;
    text-align: center;
    color: #58585A; }

.tipo_moneda {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 3%;
  border: 3px solid #AA9F6B;
  width: 35%;
  display: none;
  z-index: 9999; }
  @media only screen and (min-width: 641px) and (max-width: 1024px) {
    .tipo_moneda {
      width: 50%; } }
  @media only screen and (min-width: 320px) and (max-width: 640px) {
    .tipo_moneda {
      width: 80%; } }
  .tipo_moneda .closecurrentmoney {
    color: #585859;
    position: absolute;
    top: 5px;
    right: 10px; }
  .tipo_moneda .titulo_login {
    color: #585859;
    text-align: center;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase; }
  .tipo_moneda .botones {
    text-align: center; }
    .tipo_moneda .botones a {
      display: inline-block; }
      .tipo_moneda .botones a .btncurrentmoney {
        padding: 10px;
        border: 2px solid #585859;
        margin-top: 20px;
        color: #58585A;
        text-transform: uppercase;
        font-size: 12px;
        font-family: 'Lato', sans-serif;
        font-weight: 300; }
      .tipo_moneda .botones a .btnlatermoney {
        padding: 10px;
        border: 2px solid #AA9F6B;
        margin-top: 20px;
        color: #AA9F6B;
        text-transform: uppercase;
        font-size: 12px;
        font-family: 'Lato', sans-serif;
        font-weight: 300; }
  .tipo_moneda .registro {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 12px;
    text-align: center;
    color: #58585A; }

.tipo_moneda_edit {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 3%;
  border: 3px solid #AA9F6B;
  width: 35%;
  display: none;
  z-index: 9999; }
  @media only screen and (min-width: 641px) and (max-width: 1024px) {
    .tipo_moneda_edit {
      width: 50%; } }
  @media only screen and (min-width: 320px) and (max-width: 640px) {
    .tipo_moneda_edit {
      width: 80%; } }
  .tipo_moneda_edit .closecurrentmoney {
    color: #585859;
    position: absolute;
    top: 5px;
    right: 10px; }
  .tipo_moneda_edit .titulo_login {
    color: #585859;
    text-align: center;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase; }
  .tipo_moneda_edit .botones {
    text-align: center; }
    .tipo_moneda_edit .botones a {
      display: inline-block; }
      .tipo_moneda_edit .botones a .btnlatermoneyupdate {
        padding: 10px;
        border: 2px solid #585859;
        margin-top: 20px;
        color: #58585A;
        text-transform: uppercase;
        font-size: 12px;
        font-family: 'Lato', sans-serif;
        font-weight: 300; }
      .tipo_moneda_edit .botones a .btnlatermoneyupdatecancel {
        padding: 10px;
        border: 2px solid #AA9F6B;
        margin-top: 20px;
        color: #AA9F6B;
        text-transform: uppercase;
        font-size: 12px;
        font-family: 'Lato', sans-serif;
        font-weight: 300; }
  .tipo_moneda_edit .registro {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 12px;
    text-align: center;
    color: #58585A; }

.resumen_pedido {
  margin-top: 5%; }
  .resumen_pedido .titulo_blog {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: #58585A; }
  .resumen_pedido .divisor {
    position: relative;
    background-color: #AA9F6B;
    height: 3px;
    width: 20%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%); }
  .resumen_pedido .contenido_foto {
    height: 300px;
    position: relative; }
    .resumen_pedido .contenido_foto div {
      height: 100%;
      background-size: cover;
      background-position: center center; }
  .resumen_pedido .datos_pulsera {
    color: #515050;
    text-transform: uppercase;
    padding-top: 10px;
    margin-bottom: 0px; }

.sd-button {
  background-color: #58585A !important;
  /*border: 1px solid #AA9F6B !important;*/ }

.ui-widget-content {
  border: none !important; }
